.ml1{
    margin-left: 5px;
}
.ml2{
    margin-left: 25px;
}
.ml3{
    margin-left: 45px;
}
.ml4{
    margin-left: 65px;
}
.ml5{
    margin-left: 85px;
}
.ml6{
    margin-left: 105px;
}
.ml7{
    margin-left: 125px;
}
.ml8{
    margin-left: 145px;
}
.ml9{
    margin-left: 165px;
}
.ml10{
    margin-left: 185px;
}